.git
.venv
.pytest_cache
__pycache__
*.py[cod]
misc
tests
deploy
!deploy/
deploy/*
!deploy/milp-kubernetes/
deploy/milp-kubernetes/*
!deploy/milp-kubernetes/Dockerfile.controller
!deploy/milp-kubernetes/Dockerfile.service
!deploy/milp-kubernetes/requirements-service.txt
!deploy/milp-kubernetes/service_package_init.py
*.csv
*.pkl
